* {
  box-sizing: border-box;
}
body
{
font-family: verdana;
padding: 10px;
background: #f1f1f1;
}

nav, header, footer, aside, section, article, main
{
border: 1px solid;
margin: 5px;
padding: 5px;
}

nav > ul > li
{
display: inline-block;
width: calc(20% - 6px);
list-style-type: none;
text-align: center;
padding: 15px 0;
border-left: 1px black solid;
height: 100%;
}

nav > ul
{
margin:0;
padding: 0;
}

nav > ul > li:first-of-type
{
border:0;
}

nav {
padding: 0;
margin: 0 0 15px 0;
}

aside
{
width: 20%;
float:left;
}

main
{
width: calc(80% - 45px);
float:left;
height: 100%;
}

.clear
{
clear: both;
}

.container
{
width: 90%;
margin: 0 auto;
}

.wrapper
{
height: 90vh;
}

aside
{
position: relative;
height: 100%;
}

article
{
margin: 15px;
}

section
{
height: 80%;
overflow-y: scroll;
overflow-x: hidden;
}
/* targety na klawisze z linkami */
a[target=_blank]:link, a[target=_blank]:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a[target=_blank]:hover, a[target=_blank]:active {
  background-color: red;
}

/* okienka do logowania  */

.logowanie input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.logowanie input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logowanie input[type=submit]:hover {
  background-color: #45a049;
}

.logowanie div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
